:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-section {
  margin-bottom: 0;
  display: block;
}

app-section:last-of-type {
  margin-bottom: -1px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer-section {
  background-color: #202020 !important;
  margin-top: -1px;
  position: relative;
  display: block;
}

@keyframes ani {
  10% {
    color: white !important;
    text-shadow:
      0px 0px 0px white,
      0px 0px 10px white,
      0px 0px 20px white,
      0px 0px 30px white;
  }
}
