@use '@angular/material' as mat;

.project-card {
  max-width: 800px;
  color: white !important;

  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;

  &:hover {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.6);
  }

  .card-description {
    color: #808080 !important;
  }

  .card-footer {
    padding: 16px;
  }

  mat-card-header {
    height: 60px;
    img {
      width: 60px;
      height: auto;
      max-width: 100%;
      margin-right: 20px;
    }

    p {
      font-size: 1.8rem;
      margin: 0;
      align-self: center;
    }
  }
}

.chip {
  @include mat.chips-overrides(
    (
      label-text-weight: bolder,
      //todo: not working
    )
  );
}

.chip-ts {
  @include mat.chips-overrides(
    (
      outline-color: #007acc,
      label-text-color: #007acc,
    )
  );
}

.chip-js {
  @include mat.chips-overrides(
    (
      outline-color: #f7df1e,
      label-text-color: #f7df1e,
    )
  );
}

.chip-mongodb {
  @include mat.chips-overrides(
    (
      outline-color: #4db33d,
      label-text-color: #4db33d,
    )
  );
}

.chip-electron {
  @include mat.chips-overrides(
    (
      outline-color: #00d8fc,
      label-text-color: #00d8fc,
    )
  );
}

.chip-express {
  @include mat.chips-overrides(
    (
      outline-color: grey,
      label-text-color: grey,
    )
  );
}

.chip-angular {
  @include mat.chips-overrides(
    (
      outline-color: #b52e31,
      label-text-color: #b52e31,
    )
  );
}

.chip-dynamodb {
  @include mat.chips-overrides(
    (
      outline-color: #4d96d1,
      label-text-color: #4d96d1,
    )
  );
}

.chip-kubernetes {
  @include mat.chips-overrides(
    (
      outline-color: #326ce4,
      label-text-color: #326ce4,
    )
  );
}

.chip-sqs {
  @include mat.chips-overrides(
    (
      outline-color: #daa835,
      label-text-color: #daa835,
    )
  );
}

.chip-sqs {
  @include mat.chips-overrides(
    (
      outline-color: #daa835,
      label-text-color: #daa835,
    )
  );
}

.chip-docker {
  @include mat.chips-overrides(
    (
      outline-color: #1e96ed,
      label-text-color: #1e96ed,
    )
  );
}

.chip-redis {
  @include mat.chips-overrides(
    (
      outline-color: #d82c20,
      label-text-color: #d82c20,
    )
  );
}

.chip-csharp {
  @include mat.chips-overrides(
    (
      outline-color: #5a31ec,
      label-text-color: #5a31ec,
    )
  );
}

.chip-mineflayer {
  @include mat.chips-overrides(
    (
      outline-color: #60a490,
      label-text-color: #60a490,
    )
  );
}

.chip-mysql {
  @include mat.chips-overrides(
    (
      outline-color: #4479a0,
      label-text-color: #4479a0,
    )
  );
}
.chip-java {
  @include mat.chips-overrides(
    (
      outline-color: #ec2125,
      label-text-color: #ec2125,
    )
  );
}
