<!--
    SVG: preserveAspectRatio="none"
-->

<mat-drawer-container id="container" [hasBackdrop]="false">

  <mat-drawer #drawer has class="sidenav" mode="over" position="end" [opened]="showSidenav">
    <div style="display: flex; width: 100%; height: 100%;">

        <div style="display: flex; margin-top: auto; margin-bottom: auto;">
        <button mat-icon-button (click)="toggleDrawer()" class="sidenav-container">
            <mat-icon style="color: grey">keyboard_double_arrow_right</mat-icon>
        </button>
        </div>

        <div style="display: flex; flex-direction: column; justify-content: center">
            <button mat-icon-button (click)="scrollTo(top)" class="sidenav-container">
                <mat-icon style="color: white">person</mat-icon>
            </button>

            <button mat-icon-button (click)="scrollTo(recentProjects)" class="sidenav-container">
                <mat-icon style="color: white">checklist_rtl</mat-icon>
            </button>
            
            <button mat-icon-button (click)="scrollTo(footer)" class="sidenav-container">
                <mat-icon style="color: white">mail</mat-icon>
            </button>
        </div>

    </div>
  </mat-drawer>

  <div class="sidebar-toggle" *ngIf="showSidenavbutton">
    <button mat-icon-button (click)="toggleDrawer()">
        <mat-icon @fade style="color: white">keyboard_double_arrow_left</mat-icon>
    </button>
  </div>

  <div #top class="background-one">
    <div class="flex-container">
         <div class="flex-items"> 
              <h1 class="title">Hi. I'm, <span class="name-animation">Nicolai</span></h1>
              <span class="title-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Phasellus malesuada nisi tellus, non imperdiet nisi tempor at. 
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore.
              </span>
             </div>
             <div class="flex-items">
              <div class="image-container">
                  <img class="user-image" src="../../../assets/selfie.jpg">
              </div>
            </div>
        </div>

        <div class="experience-section">
            <img *ngFor="let ex of experience" matTooltipPosition="above" [matTooltip]="ex.tooltip" [src]="ex.icon">
        </div>
  </div>

  <div #recentProjects class="background-two">
    <div class="projects-container">
        <h1 class="projects-title">Recent <span class="light-bulb-effect">Projects</span></h1>
        <div *ngFor="let project of projects" class="project">
             <img class="project-logo" [src]="project.logo">
            <div class="project-info">
                <div class="project-header">
                    <h1 class="title">{{project.title}}</h1>
                    <div class="project-chips">
                        <div *ngFor="let chip of project.chips" class="chip {{chip}}">
                            {{chip}}
                        </div>
                    </div>
                </div>
                <p class="project-description">{{project.desc}}</p>
            </div>
        </div>
    </div>
  </div>

  
  <div #footer class="footer-section">
    <div class="column">
        <h1>Contact</h1>
        <div class="group" matTooltip="Mail" matTooltipPosition="above" (click)="copy('4Free@valoks.com')">
            <mat-icon>mail</mat-icon> 
            <p>4Free@valoks.com</p>
        </div>
        <div class="group" matTooltip="Discord" matTooltipPosition="above" (click)="copy('4free')">
            <mat-icon>discord</mat-icon>
            <p>4free</p>
        </div>
    </div>

    <div class="column">
        <h1>Links</h1>
        <div class="group" matTooltip="LinkedIn" matTooltipPosition="above" (click)="openLink('https://www.linkedin.com/in/nicolai-hansen-332004276/')">
            <mat-icon svgIcon="linkedin"></mat-icon>
            <p style="margin-top: 4px;">Click me</p>
        </div>
        <div class="group" matTooltip="Github" matTooltipPosition="above" (click)="openLink('https://github.com/Nico170f')">
            <mat-icon svgIcon="github"></mat-icon>
            <p>Click me</p>
        </div>
    </div>
  </div>

</mat-drawer-container>
