#container {
    background-color: #202020;
    // height: 100%;
    width: 100%;
    // overflow: hidden;
}

.sidebar-toggle {
    position:fixed;
    right: 0;
    background-color: rgba(0, 0, 0, 0.0);
    width: 50px;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sidenav {
    position:fixed;
    background-color: rgba(0, 0, 0, 0.0);
    width: 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
}

.sidenav-container {
    justify-self: center;
    display: flex;
}

@media (max-width: 600px) {
    .sidebar-toggle, .sidenav {
        display: none;
    }
}

.background-one {
    // height: 100vh;
    height: min(100% - 4rem);
    min-height: 100vh;
    background-image: url("./../../../assets/background-one.svg");
    background-size: 100% auto;
    display: flex;
}

.background-two {
    // height: 75vh;
    background-image: url("./../../../assets/background-two.svg");
    background-size: 100% auto;
    display: flex;
}


.title {
    font-size: calc(40px + 0.390625vw);
    font-family: Excluded;
}

.name-animation {
    animation: ani 4s infinite;
    font-family: Excluded;
}

.title-description {
    color: rgb(172, 172, 172);
}



@keyframes ani{
	10%{
		color:white !important;
		text-shadow:0px 0px 0px white,
					0px 0px 10px white,
					0px 0px 20px white,
					0px 0px 30px white,
					// 0px 0px 40px white,
					// 0px 0px 50px white,
					// 0px 0px 60px white;
	}
}


.flex-container {
    max-width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 100px;
}

@media (max-width: 1400px) {
  .flex-container {
    max-width: 70%;
  }
}


@media (max-width: 900px) {
  .flex-container {
    flex-direction: column;
    max-width: 80%;
  }

  .title, .title-description  {
    align-content: center;
    text-align: center;
  }
}


.flex-items:nth-child(1) {
    margin: 20px;
    color:white;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}

.flex-items:nth-child(2) {
    margin: 20px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.projects-container {
    width: min(100% - 2.5rem, 800px);
    height: min(100% - 4rem);
    margin-inline: auto;
    margin-bottom: 175px;
}

.projects-title {
    color: white;
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    margin-top: 100px;
    margin-bottom: 40px;

    span {
        color: white;
        // color: #002233;
    }
}

.light-bulb-effect:hover {
    animation: ani 1s both;
    animation-fill-mode: forwards;
}

.project {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // white-space: nowrap;
        


    margin-bottom: 40px;
    background-color: #002233;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    transition: 0.3s;

    &:hover {
        box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.75);
    }

    .project-logo {
        margin-right: 20px;
        flex-grow: 0;
        height: 100%;
    }

    .project-info {
        flex-direction: column;
        flex-grow: 1;
        //height: 40px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        // background-color: blue;
    }

    .project-header {
        flex-direction: row;
        display: flex;
        margin-bottom: 10px;

        // flex-wrap: wrap;
    }

    .title {
        color: white;
        font-family: Poppins;
        flex-grow: 0;
        font-size: 26px;
        margin-right: 10px;
        margin-bottom: 0px;
        // margin-top: 4px;
        text-wrap: nowrap;
    }

    .project-chips {
        flex-grow: 1;
        display: flex;
        align-items: center;
        // flex-wrap: nowrap;

        .chip {
            width: fit-content;
            height: fit-content;
            padding: 2px 7px 2px 7px;
            border-radius: 10px;
            // border: 1px solid #0066FF;
            // color: white;
            // font-weight: 400;
            font-size: 16px;
            margin-right: 5px;
        }

        .ts {
            background-color: #007acc;
        }

        .node {
            background-color: #3c873a;
        }

        .electron {
            background-color: #00d8fc;
        }

    }


    .project-description {
        color: grey;
        text-overflow:ellipsis;
        margin-bottom: 0px;
    }
}

div.mat-chip-list-wrapper {
        flex-flow: row !important;
}


@media (max-width: 800px) {
    .project {
        .title {
            margin-bottom: 10px;
        }

        .project-header {
            flex-direction: column;
            margin-bottom: 0px;
        }

        .project-description {
            display: none;
        }

        .project-chips {
            align-self: center;
            flex-wrap: wrap;
            justify-content: center;

            .chip {
                margin-bottom: 5px;
                align-self: center;
            }
        }
    }

}


@media (max-width: 350px) {
    .project {
        flex-direction: column;
        align-items: center;

        .project-logo {
            margin: 0px;
            width: 140px;
        }

        .project-header {
            display: none;
        }
    }
}


.footer-section {
    margin-top: 40px;
    margin-bottom: 20px;
    width: min(100% - 2.5rem, 800px);
    margin-inline: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-around;

    .column {
        width: 100%;
        align-items: center;
        display: flex;
        width: auto;
        flex-direction: column;
        flex-grow: 1;

        h1 {
            color: white;
            font-family: Poppins;
            font-size: 32px;
            margin-bottom: 20px;
        }

        .group {
            width: fit-content;
            display: flex;
            justify-content: center;

            mat-icon {
                color: #303030;
                margin-right: 4px;
            }

            p {
                color: #404040;
                font-family: Poppins;
                margin-top: 2px;
                font-weight: 900;
            }
            
        }

        .group:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 500px) {
    .footer-section {
        flex-direction: column;
        margin-top: 0px;

        .column {
            margin-top: 30px;
        }
    }
}



.image-container {
    width: 200px;
    height: 250px;
}


.user-image {
     width: 100%;
     border: 5px solid #0066FF;
     border-radius: 10px;
    // height: auto;
}




/*

#container {
    background-color: #101010;
    height: 200vh;
    width: 100%;
    overflow: hidden;

}

.section-one {
    height: 100vh;
    min-width: 1000px;
    display: flex;
    background-image: url("./../../../assets/polygon-scatter-haikei.svg");

    background-size: 100% auto;
    justify-content: center;
    text-align: center;
}


.section-container {
    width: 100%
}


.title {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: calc(60px + 0.390625vw)
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.flex-items {
    margin: 20px;

    h1 {
        margin-bottom: 30px;
    }

    // img {
    //     border: 5px solid #0066FF;
    //     border-radius: 7px;
    // }
}


.user-image {
    border: 5px solid #0066FF;
    border-radius: 7px;
    //width: calc(200px + 0.390625vw);
    max-width: 40%;
    height: auto;
    // height: 250px;
    // object-fit: cover;
}


.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}


.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

*/