

<div id="container">

    <div class="background">

        <div class="flex-container">
           <div class="flex-items">
            <h1 class="title">Hi. I'm, <span class="hello-title name-animation">Nicolai</span></h1>
            <span class="title-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Phasellus malesuada nisi tellus, non imperdiet nisi tempor at. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore.
            </span>
           </div>
           <div class="flex-items">


            <div class="image-container">
                <img class="user-image" src="../../../assets/selfie.jpg">
            </div>
            

            <!--
                <img class="user-image" src="../../../assets/selfie.jpg">
            -->


           </div>
        </div>

    </div>

    <div class="projects-section">haha</div>

</div>



<!--
    <div id="container">
    
        <div class="section-one">
    
            <div class="section-container">
                <div class="flex-container">
                    <div class="flex-items">
                        <h1 class="title" style="font-family: Excluded;">Hi. I'm,</h1>
                        <h1 class="title" style="font-family: Excluded;">Nicolai</h1>
                    </div>
                    <div class="flex-items">
                        <img class="user-image" src="../../../assets/selfie.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

-->






<!--
<h1 class="title" style="font-family: Excluded;">Hi. I'm, Nicolai</h1>
<br>

<h1 class="title" style="font-family: Poppins;">Hi. I'm Nicolai</h1>
<h1 class="title" style="font-family: Poppins;">HI. I'M NICOLAI</h1>
<br>

<h1 class="title" style="font-family: Valorax;">Hi. I'm Nicolai</h1>
<h1 class="title" style="font-family: Valorax;">HI. I'M NICOLAI</h1>
<br>

<h1 class="title" style="font-family: Stacker;">HI. I'M NICOLAI</h1>
<h1 class="title" style="font-family: Stacker;">HI. I'M NICOLAI</h1>
<br>

<h1 class="title" style="font-family: NoizeSportFreeVertionRegular;">Hi. I'm Nicolai</h1>
<h1 class="title" style="font-family: NoizeSportFreeVertionRegular;">Hi. I'm NICOLAI</h1>
<br>
-->