
#container {
    background-color: #002233;
    // width: 100vw;
    width: 100%;
    // height: 100%;
}

.background {
  height: min(100% - 4rem);
  min-height: 100vh;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
}

.bg-one {
  background-image: url("../../../../assets/projects/afkcc/afkcc-background-one.svg");
}

.bg-two {
  background-image: url("../../../../assets/projects/afkcc/afkcc-background-two.svg");
}

.bg-three {
  background-image: url("../../../../assets/projects/afkcc/afkcc-background-three.svg");
  height: 300px;
  min-height: 300px;
}

.title {
    color: white;
    font-family: Excluded;
    justify-content: center;
    display: flex;
    padding-top: 10vh;
    padding-bottom: 2vh;
    font-size: 4rem;
    overflow: hidden;
    text-align: center;
    line-height: 3.5rem;
}

@media (max-width: 400px) {
    .title {
    font-size: 2rem;
    line-height: 2.5rem;
    }
}

.project-description {
    text-align: center;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
    margin-bottom: 4vh;
}

.project-description:hover {
  font-weight: 300;
}

.display-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    align-self: center;
    gap: 40px;

    p {
      flex-grow: 1;
      display: flex;
      align-items: center;
      color: rgb(172, 172, 172);
      font-size: 1vw;
      line-height: 1vw;
    }
}


.scroll-animation {
    margin-bottom: auto;
}

.stats-section {
  // margin-top: 200px;
  margin-top: 25vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;

  .cards {
    justify-content: center;
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
}

.section-title {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
    font-family: Poppins;
}

.stat-card {
  background-color: rgba(0,	102, 255, 0.5);
  width: 350px;
  height: 180px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  transition: 0.3s;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.65);

    &:hover {
        box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.65);
    }

  .stat-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;

    .second-title {
      font-size: 18px;
      font-weight: 300;
    }

    mat-icon {
      margin-right: 15px;
      transform: scale(2);
      margin-top: 7px;
    }
  }

  .stat-description {
    //color: rgba(0, 0, 0, 0.6);
    color: rgb(172, 172, 172);
    margin-inline: 10px;
    text-align: center;
  }
}

.info-section {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  width: 80%;

  .youtube-video {
    aspect-ratio: 16/9;
    width: fit-content;
  }

  iframe {
    width: 300px;
    height: 300px;
  }
}










