<mat-drawer-container id="container" [hasBackdrop]="false">

    <app-back></app-back>


    <h1 class="title">AFK Console Client</h1>

    <div class="info-section">
        <div class="card test">

        </div>

        <div class="card test discord-card">
            <iframe src="https://discord.com/widget?id=1001858472234725396&theme=dark" width="300" height="300"
                allowtransparency="true" frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </div>



</mat-drawer-container>