<div class="container">
    <section class="about-me">
        <div class="text-section">
            <h1 class="title">
                Hi. I'm, <span class="name-animation">Nicolai</span>
            </h1>
            <p class="description">
                <!-- Template text from my old portfolio -->
                Hello! I'm a {{getYearsSince()}}-year-old aspiring software engineer from Denmark. My journey into the
                world of
                programming began in 2018, fueled by a passion for technology and the need for a new Minecraft plugin. I
                began my Software Engineering studies at <span class="highlight">SDU</span> in September 2024, and I'm
                continuously expanding my skills and knowledge in the world of programming. My primary focus is backend
                development, but I also delve into full-stack projects from time to time.

            </p>
        </div>
        <div class="image-section">
            <figure>
                <img src="../../../assets/waves/landing-page/selfie.jpg" alt="Nicolai" class="profile-image" />
            </figure>
        </div>
    </section>

    <section class="icon-section">
        @for (icon of icons; track $index) {
        <img [src]="iconPath + icon.path" [alt]="icon.toolTip + 'icon '" class="icon" matTooltipPosition="above"
            [matTooltip]="icon.toolTip" [matTooltipDisabled]="isMobile" />
        }
    </section>
</div>