@use '@angular/material' as mat;

:host {
  @include mat.card-overrides(
    (
      elevated-container-color: #202020,
    )
  );

  // @include mat.tooltip-overrides(
  //   (
  //     container-color: orange,
  //     supporting-text-color: red,
  //   )
  // );
}

.container {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-section {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.section-title {
  margin: 0;
  margin-bottom: 0;
  font-size: 2.5rem;

  align-self: center;
}

.description {
  color: rgb(255, 255, 255);
  line-height: 1.5;
  max-width: 800px;
  // display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 0;
}
