@use '@angular/material' as mat;

:host {
  @include mat.card-overrides(
    (
      elevated-container-color: #202020,
    )
  );

  // @include mat.tooltip-overrides(
  //   (
  //     container-color: orange,
  //     supporting-text-color: red,
  //   )
  // );
}

.container {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-section {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.section-title {
  margin: 0;
  margin-bottom: 0;
  font-size: 2.5rem;

  align-self: center;
}

.description {
  color: rgb(255, 255, 255);
  line-height: 1.5;
  max-width: 800px;
  // display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 0;
}

.media-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem 0;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;

  @media (max-width: 600px) {
    gap: 1rem;
    margin-bottom: 8rem;
  }

  .media-section-intro {
    text-align: center;
    margin-bottom: 2rem;

    h3 {
      font-size: 1.8rem;
      color: white;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    p {
      // color: #acacac;
      line-height: 1.6;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .media-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: 600px) {
      gap: 1rem;
    }
  }
}

.media-button {
  background-color: #202020;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 110px;
  justify-content: center;

  &:hover {
    transform: translateY(-5px);
    background-color: #202020;
    opacity: 0.5;
  }

  mat-icon {
    color: #ffffff;
  }

  .button-label {
    font-weight: 500;
  }
}

.span-text {
  text-decoration: none;
  color: white;
  font-weight: 900;
}
