/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
  }

@font-face {
  font-family: 'Valorax';
  src: url('assets/fonts/Valorax-lg25V.otf') format('truetype');
}

@font-face {
font-family: 'Stacker';
src: url('assets/fonts/Stacker-jE03l.ttf') format('truetype');
}

@font-face {
font-family: 'NoizeSportFreeVertionRegular';
src: url('assets/fonts/NoizeSportFreeVertionRegular-MVwye.ttf') format('truetype');
}

@font-face {
font-family: 'Excluded';
src: url('assets/fonts/Excluded-z8XrX.ttf') format('truetype');
}

@font-face {
font-family: 'Test';
src: url('assets/fonts/Gabarito[wght].ttf') format('truetype');
}

@font-face {
font-family: 'Mona';
src: url('assets/fonts/Mona-Sans.ttf') format('truetype');
}

html, body { height: 100%; }
body { 
  margin: 0; 
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  // overflow: hidden;
  // background-color: red;
 }

* {
  font-family: Poppins;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

md-sidenav.md-sidenav-opened, md-sidenav.md-sidenav-opening{
  box-shadow: 0 0 0 0 !important;
}

//! .scroller {
//!   width: 100%;
//!   // height: 200px;
//!   overflow-y: scroll;
//! }
//! 
//! /* width */
//! ::-webkit-scrollbar {
//!   width: 10px;
//! }
//! 
//! /* Track */
//! ::-webkit-scrollbar-track {
//!   background: #a31414;
//! }
//! 
//! /* Handle */
//! ::-webkit-scrollbar-thumb {
//!   background: #55aa55;
//! }
//! 
//! /* Handle on hover */
//! ::-webkit-scrollbar-thumb:hover {
//!   background: #88dd88;
//! }