<!--
<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <div *ngFor="let img of images; index as i" [id]="i+1" class="image-wrapper">
                <img [src]="img" class="image">
            </div>
        </div>
        <div class="slider-nav">
            <a *ngFor="let img of images; index as i" (click)="scrollTo(i+1)"
                [ngClass]="selected === i+1 ? 'slider-nav-selected' : ''" class=""></a>
        </div>
    </div>
</section>
-->

<div class="test">
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <div id="carousel">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div>
        </div>