<div class="container">

    <div class="image-section">
        <img src="../../../../assets/images/valoks-logo.svg" alt="Valoks Logo">
    </div>

    <p class="description">
        In April 2023, two friends and I launched a tech company called Valoks — just three friends driven by a shared
        passion for building innovative software. I met Frej
        back in high school through a shared interest in coding, and Oliver and I go way back from online gaming.

        Since then, we’ve created everything from SaaS platforms to custom tools, and our software has reached a ton of
        people, with thousands using it daily. We love solving real problems and making solid solutions that people
        actually enjoy
        using.

        <br>
        <br>
        So... what do we actually make?
    </p>

    <!-- <h1>Valoks - Solutions company</h1> -->
</div>